## TUPLE & SET EV ÖDEVİ

In [1]:
# Bir tuple oluşturun ve bu tuple'ın 3. elemanını ekrana yazdırın.
my_tuple = (1,2,3,4,5)
print("Tuple'ın 3. elemanı:", my_tuple[2])

Tuple'ın 3. elemanı: 3

In [2]:
# cm cinsinden öğrenci boylarını içinde bulunduran bir tuple oluşturun. 
# Daha sonra, en kısa ve en uzun boyu ekrana yazdırın.
# son olarak listenin ortalamasını bulun ( ortalam için tuple içindeki tüm sayıların toplamını, tuple içindeki eleman sayısına bölün)
heights_of_students = (175,186,193,165,146)
shortest_one = min(heights_of_students)
tallest_one = max(heights_of_students)
print(f'Tallest Student : {tallest_one}\nShortest Student : {shortest_one}')
avearage_length = sum(heights_of_students) / len(heights_of_students)
print(f'Average Length of the class is {avearage_length}')

Tallest Student : 193
Shortest Student : 146
Average Length of the class is 173.0

In [5]:
# Bir tuple içinde çeşitli meyveleri temsil eden öğeleri bir araya getirin. 
# Kullanıcıdan bir meyve adı alın ve önce bu meyvenin tuple içinde olup olmadığını kontrol edin
# eğer bu meyve tuple içinde varsa kaç adet bulunduğunu ekrana yazdırın
fruit_tuple = ('banana','apple','strawberry','watermelon','apple','apple','apple')
user_fruit = input("Enter a fruit name :")
count = fruit_tuple.count(user_fruit)
if(count):
    print(count)
else:
    print("There is no such fruit")

There is no such fruit

In [6]:
# Bu arabanın bilgilerini tek satırda 3 farklı değişkene atayın
# degişken isimleri sırasıyla marka, kilometre ve model_yili olsun.
# sonra kilometre değişkeni ile model_yili değişkeninin değerlerini tek satırda değiştirin
car_info = ("Toyota", 2022, 25000.0)
car_name,car_km,car_model = car_info
car_name,car_model,car_km = car_name,car_km,car_model
print(f'car_name --> {car_name}\ncar_model --> {car_model}\ncar_km --> {car_km}')

car_name --> Toyota
car_model --> 2022
car_km --> 25000.0

In [10]:
# Aşağıdaki kümeye "tilki" elemanını ekleyin. 
# Takiben önce "kedi" elemanını, sonra "Köpüş" elemanını çıkarın. 
# "Köpüş" elemanını çıkarırken hata vermeyecek şekilde komut yazın
# Son olarak "at", "ayı" ve "kelebek" hayvanlarını tek komutla set içerisine ekleyip son halini yazdırın
hayvanlar = {"köpek", "kedi", "kuş"}
hayvanlar.add("tilki")
hayvanlar.remove("kedi")
hayvanlar.discard("köpüş")
hayvanlar.update(["at", "ayı","kelebek"])
hayvanlar

{'at', 'ayı', 'kelebek', 'kuş', 'köpek', 'tilki'}

In [11]:
# Verilen listedeki tekrar eden elemanları çıkararak yeni bir liste oluşturun.
liste = [5, 5, 6, 7, 7, 8]
new_list = set(liste)
new_list

{5, 6, 7, 8}

In [13]:
# Aşağıdaki kümeden en büyük ve en küçük elemanı bulun.
sayılar = {42, 17, 63, 99, 21, 5}
max_number = max(sayılar)
min_number = min(sayılar)
print(f'Max --> {max_number}\nMin --> {min_number}')

Max --> 99
Min --> 5

In [15]:
# Verilen kümeyi sıralayın ve son halinde yine elinizde bir küme olsun.  (sorted, set)
küme = {42, 5, 23, 17, 60}
sorted_küme = set(sorted(küme))
sorted_küme

{5, 17, 23, 42, 60}